<!DOCTYPE html>
<html lang="fa" dir="rtl" class="overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="icon" href="/logo/icon.png">
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <title>Register page ritmo</title>
  </head>
  <body class="register-body bg-background w-screen h-screen overflow-hidden">

  <%- include('./partials/svg.ejs')  %>

  <div class="relative flex items-center justify-center h-screen select-none">
        <div class="form-cotainer absolute transform mx-auto w-[370px] sm:w-[504px] h-auto bg-menu rounded-[40px] overflow-hidden">
            <div class="flex flex-col items-center text-white z-50 py-5 sm:p-10">
              <div class="relative flex">
                <div class="flex flex-col items-center justify-center w-[281px]">
                  <svg class="w-25 h-[70px] hidden lg:block"><use href="#logo"></use></svg>
                  <h3 class="font-Pelak_Bold text-xl mt-5" id="form-title">به ریتمو خوش آمدید</h3>
                </div>
              </div>

              <div id="form-container" class="size-full">
                <form id="form" class="mt-10 md:mt-15 select-none w-full">
                  <!-- email -->
                  <div id="email-container" class="relative mt-8 border border-Neutral-300 text-Neutral-100 rounded-lg mx-auto w-[350px] sm:w-full bg-transparent focus:bg-transparent">
                    <label for="email-input" class="absolute right-5 -top-[25%] h-5 text-Neutral-300 bg-menu rounded-2xl px-3 text-sm">ایمیل</label>
                    <div class="flex items-center flex-row-reverse">
                      <input type="email" dir="ltr" id="email-input" class="font-Pelak_Regular text-sm w-[90%] h-12 me-auto outline-0 border-0 px-3.5 focus:bg-transparent" placeholder="info@gmail.com"/>
                      <svg class="size-[18px] mx-auto text-Neutral-300"><use href="#mail"></use></svg>
                    </div>
                  </div>
                  <!-- password -->
                  <div class="relative mt-8 border border-Neutral-300 text-Neutral-100 rounded-lg mx-auto w-[350px] sm:w-full">
                    <label for="password-input" class="absolute right-5 -top-[25%] h-5 text-Neutral-300 bg-menu px-3 text-sm">رمز عبور</label>
                    <div class="flex items-center flex-row-reverse">
                        <input type="text" id="password-input" dir="ltr" class="font-Pelak_Regular text-sm w-[90%] h-12 me-auto outline-0 border-0 px-3.5" placeholder="@Ritmo1404"/>
                        <svg class="size-[18px] mx-auto text-Neutral-300"><use href="#key"></use></svg>
                    </div>
                  </div>

                  <!-- buttons -->
                  <button id="submit-btn" type="button" class="form-btn">ورود</button>
                </form>
              </div>
            </div>
        </div>
    </div>

  <div id="status-modal" class="hidden items-center gap-x-5 fixed w-80 text-white px-5 py-3 h-auto rounded-2xl border-t-4 bg-gray-900 z-50 top-10 left-10"></div>

  <script type="module" src="/scripts/auth/send.js"></script>
  </body>
</html>
