<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="icon" href="/logo/icon.png">
      <link rel="stylesheet" href="/styles/tailwind.css" />
    <title>Ritmo</title>
  </head>
  <body class="w-screen overflow-x-hidden text-white">

    <%- include('./partials/svg.ejs') %>

    <%- include('./partials/header.music.ejs') %>

    <header class="FAQ-header max-w-[1440px] mx-auto my-4">
        <div class="mx-auto mt-16 h-auto px-4">
            <div class="mx-auto mt-50">
                <svg class="z-50 w-[185px] h-[250px] mx-auto">
                    <use href="#microphone-faq"></use>
                </svg>
            </div>
            <h1
                    class="font-Pelak_Bold text-[26px]/[46px] sm:text-[32px] text-center mt-4 mb-15"
            >
                پاسخ به سوالات شما، ساده‌تر از همیشه!
            </h1>
            <div
                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-center justify-between *:h-28 *:bg-transparent-1/35 *:border *:border-Neutral-400 gap-8 *:rounded-lg max-w-[1044px] mx-auto"
            >
                <div class="flex items-center gap-x-4 justify-center">
                    <div class="flex items-center gap-x-4 justify-center">
                        <svg class="size-8"><use href="#download-01"></use></svg>
                        <h3 class="font-Pelak_Bold text-lg">دانلود و نصب</h3>
                    </div>
                </div>

                <div class="flex items-center gap-x-4 justify-center">
                    <div class="flex items-center gap-x-4 justify-center">
                        <svg class="size-8"><use href="#gam"></use></svg>
                        <h3 class="font-Pelak_Bold text-lg">اشتراک Ritmo Plus</h3>
                    </div>
                </div>

                <div class="flex items-center gap-x-4 justify-center">
                    <svg class="size-8"><use href="#logo"></use></svg>
                    <h3 class="font-Pelak_Bold text-lg">درباره ریتمو</h3>
                </div>

                <div class="flex items-center gap-x-4 justify-center">
                    <svg class="size-8"><use href="#security"></use></svg>
                    <h3 class="font-Pelak_Bold text-lg">حریم خصوصی و امنیت</h3>
                </div>

                <div class="flex items-center gap-x-4 justify-center">
                    <svg class="size-8"><use href="#money-dollar"></use></svg>
                    <h3 class="font-Pelak_Bold text-lg">پرداخت و اشتراک</h3>
                </div>

                <div class="flex items-center gap-x-4 justify-center">
                    <svg class="size-8"><use href="#setting"></use></svg>
                    <h3 class="font-Pelak_Bold text-lg">مشکلات فنی</h3>
                </div>
            </div>
        </div>
    </header>

    <main class="max-w-[1224px] mx-auto px-4 mt-50">
      <div class="mt-8">
        <section id="question" class="mx-auto h-auto mt-19 px-4">
          <h2 class="font-Pelak_Bold text-[32px]/[150%] mb-16 mx-auto text-center mt-7">متداول ترین سوالات</h2>
          <div>
            <div id="question-ritmo-plus" class="flex mt-6 flex-col py-4 w-full h-auto transition-all duration-500 bg-transparent-1/75 rounded-sm border-r-4 border-r-Primary-500 px-4 cursor-pointer">
              <div class="flex items-center justify-between w-full">
                <label class="font-Pelak_Medium text-xs sm:text-base">
                  <span>۱.</span>
                  چطور پادکست خود را در سایت بارگذاری کنم؟
                </label>
                <svg id="arrowDown" class="size-5 transition-all duration-500 transform">
                  <use href="#chevron-down"></use>
                </svg>
              </div>
              <p class="hidden font-Pelak_Medium text-xs sm:text-base/[42px] mt-4 max-w-[90%]" id="answer">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            </div>

            <div id="question" class="flex mt-6 flex-col py-4 w-full h-auto transition-all duration-500 bg-transparent-1/75 rounded-sm border-r-4 border-r-Primary-500 px-4 cursor-pointer">
              <div class="flex items-center justify-between w-full">
                <label class="font-Pelak_Medium text-xs sm:text-base">
                  <span>۲.</span>
                  ریتمو چه تفاوتی با سایر پلتفرم‌ها دارد؟
                </label>
                <svg id="arrowDown" class="size-5 transition-all duration-500 transform">
                  <use href="#chevron-down"></use>
                </svg>
              </div>
              <p class="hidden font-Pelak_Medium text-xs sm:text-base/[42px] mt-4 max-w-[90%]" id="answer">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            </div>

            <div id="question-ritmo-plus" class="flex mt-6 flex-col py-4 w-full h-auto transition-all duration-500 bg-transparent-1/75 rounded-sm border-r-4 border-r-Primary-500 px-4 cursor-pointer">
              <div class="flex items-center justify-between w-full">
                <label class="font-Pelak_Medium text-xs sm:text-base">
                  <span>۳.</span>
                  آیا استفاده از ریتمو رایگان است؟
                </label>
                <svg id="arrowDown" class="size-5 transition-all duration-500 transform">
                  <use href="#chevron-down"></use>
                </svg>
              </div>
              <p class="hidden font-Pelak_Medium text-xs sm:text-base/[42px] mt-4 max-w-[90%]" id="answer">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            </div>

            <div id="question-ritmo-plus" class="flex mt-6 flex-col py-4 w-full h-auto transition-all duration-500 bg-transparent-1/75 rounded-sm border-r-4 border-r-Primary-500 px-4 cursor-pointer">
              <div class="flex items-center justify-between w-full">
                <label class="font-Pelak_Medium text-xs sm:text-base">
                  <span>۴.</span>
                  چگونه می‌توانم موسیقی یا پادکست‌های مورد علاقه‌ام را پیدا کنم؟
                </label>
                <svg id="arrowDown" class="size-5 transition-all duration-500 transform">
                  <use href="#chevron-down"></use>
                </svg>
              </div>
              <p class="hidden font-Pelak_Medium text-xs sm:text-base/[42px] mt-4 max-w-[90%]" id="answer">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            </div>

            <div id="question-ritmo-plus" class="flex mt-6 flex-col py-4 w-full h-auto transition-all duration-500 bg-transparent-1/75 rounded-sm border-r-4 border-r-Primary-500 px-4 cursor-pointer">
              <div class="flex items-center justify-between w-full">
                <label class="font-Pelak_Medium text-xs sm:text-base">
                  <span>۵.</span>
                  آیا ریتمو از دستگاه‌های مختلف پشتیبانی می‌کند؟
                </label>
                <svg id="arrowDown" class="size-5 transition-all duration-500 transform">
                  <use href="#chevron-down"></use>
                </svg>
              </div>
              <p class="hidden font-Pelak_Medium text-xs sm:text-base/[42px] mt-4 max-w-[90%]" id="answer">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            </div>
          </div>
        </section>
      </div>

      <section class="flex flex-col sm:flex-row items-center gap-x-14 justify-center md:px-21 pb-8 sm:py-12 border border-Neutral-700 rounded-lg mt-20">
        <div class="flex items-center justify-center max-w-[546px] w-full px-3 mb-8">
          <div class="w-full flex flex-col mx-auto">
            <svg class="size-25 sm:w-[121px] sm:h-[131px] mx-auto">
              <use href="#micro-chat"></use>
            </svg>
            <h3 class="font-Pelak_Bold text-lg sm:text-2xl text-center mt-6">همیشه کنارتون هستیم</h3>
            <p class="font-Pelak_Regular text-[#D6D8E0] text-sm sm:text-base/[150%] mt-6 text-justify">هر سوالی دارید، تیم پشتیبانی ما آماده پاسخگویی به شماست. از طریق روش‌های زیر با ما در ارتباط باشید.</p>
            <div class="flex items-center justify-between text-[#B1B5C3]">
              <span class="flex flex-row-reverse items-centere font-Pelak_Regular text-sm gap-x-1 mt-[25.5px]" dir="ltr">
                +98 09144676519
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.5 16L15.3529 16.7354C15.6846 16.8018 16.0196 16.6379 16.1708 16.3354L15.5 16ZM8.5 9L8.16459 8.32918C7.86208 8.48043 7.69824 8.81544 7.76456 9.14709L8.5 9ZM8.85402 8.82299L9.18943 9.49381L9.18943 9.49381L8.85402 8.82299ZM9.81654 6.29136L10.5129 6.01281L9.81654 6.29136ZM9.00289 4.25722L8.30653 4.53576L9.00289 4.25722ZM20.2428 15.4971L19.9642 16.1935L20.2428 15.4971ZM18.2086 14.6835L18.4872 13.9871H18.4872L18.2086 14.6835ZM15.677 15.646L16.3478 15.9814V15.9814L15.677 15.646ZM16.75 11C16.75 11.4142 17.0858 11.75 17.5 11.75C17.9142 11.75 18.25 11.4142 18.25 11H16.75ZM17.1955 9.46927L17.8884 9.18225L17.1955 9.46927ZM15.0307 7.30448L15.3177 6.61157L15.0307 7.30448ZM13.5 6.25C13.0858 6.25 12.75 6.58579 12.75 7C12.75 7.41421 13.0858 7.75 13.5 7.75V6.25ZM20.75 11C20.75 11.4142 21.0858 11.75 21.5 11.75C21.9142 11.75 22.25 11.4142 22.25 11H20.75ZM20.891 7.93853L21.5839 7.65152L20.891 7.93853ZM16.5615 3.60896L16.8485 2.91605V2.91605L16.5615 3.60896ZM13.5 2.25C13.0858 2.25 12.75 2.58579 12.75 3C12.75 3.41421 13.0858 3.75 13.5 3.75V2.25ZM20.75 17.3541V19H22.25V17.3541H20.75ZM5.5 3.75H7.14593V2.25H5.5V3.75ZM15.5 16C15.6471 15.2646 15.6473 15.2646 15.6475 15.2646C15.6476 15.2647 15.6477 15.2647 15.6479 15.2647C15.6481 15.2648 15.6483 15.2648 15.6484 15.2648C15.6487 15.2649 15.6488 15.2649 15.6488 15.2649C15.6488 15.2649 15.6482 15.2648 15.647 15.2645C15.6447 15.264 15.64 15.2631 15.6331 15.2615C15.6193 15.2585 15.5967 15.2533 15.5659 15.2459C15.5044 15.2309 15.4104 15.2066 15.2898 15.1711C15.0482 15.1 14.7016 14.9847 14.2954 14.8106C13.4796 14.461 12.4439 13.8833 11.5303 12.9697L10.4697 14.0303C11.5561 15.1167 12.7704 15.789 13.7046 16.1894C14.1734 16.3903 14.5768 16.525 14.8665 16.6101C15.0115 16.6528 15.1285 16.6832 15.2114 16.7034C15.2529 16.7135 15.2859 16.721 15.3097 16.7263C15.3217 16.7289 15.3313 16.7309 15.3385 16.7325C15.3421 16.7332 15.3451 16.7339 15.3475 16.7343C15.3487 16.7346 15.3498 16.7348 15.3507 16.735C15.3511 16.7351 15.3515 16.7352 15.3519 16.7352C15.3521 16.7353 15.3523 16.7353 15.3524 16.7353C15.3527 16.7354 15.3529 16.7354 15.5 16ZM11.5303 12.9697C10.6167 12.0561 10.039 11.0204 9.68936 10.2046C9.51527 9.79836 9.39996 9.45184 9.3289 9.21025C9.29342 9.08962 9.26912 8.99565 9.25414 8.93406C9.24666 8.90329 9.24151 8.88065 9.23847 8.86687C9.23695 8.85999 9.23595 8.85532 9.23546 8.85296C9.23521 8.85178 9.23509 8.85118 9.23508 8.85117C9.23508 8.85116 9.23511 8.8513 9.23517 8.85159C9.2352 8.85174 9.23524 8.85192 9.23528 8.85214C9.2353 8.85225 9.23534 8.85244 9.23535 8.8525C9.23539 8.8527 9.23544 8.85291 8.5 9C7.76456 9.14709 7.76461 9.14732 7.76466 9.14756C7.76468 9.14765 7.76473 9.1479 7.76477 9.14809C7.76484 9.14846 7.76492 9.14887 7.76501 9.14932C7.7652 9.15022 7.76541 9.15127 7.76566 9.15247C7.76615 9.15488 7.76677 9.15789 7.76753 9.1615C7.76905 9.16873 7.77111 9.17834 7.77374 9.19026C7.779 9.21408 7.78655 9.2471 7.79664 9.28859C7.81682 9.37154 7.84721 9.48851 7.88985 9.6335C7.97504 9.92316 8.10973 10.3266 8.31064 10.7954C8.71099 11.7296 9.38325 12.9439 10.4697 14.0303L11.5303 12.9697ZM8.83541 9.67082L9.18943 9.49381L8.51861 8.15217L8.16459 8.32918L8.83541 9.67082ZM10.5129 6.01281L9.69925 3.97868L8.30653 4.53576L9.12018 6.5699L10.5129 6.01281ZM20.5213 14.8008L18.4872 13.9871L17.9301 15.3798L19.9642 16.1935L20.5213 14.8008ZM15.0062 15.3106L14.8292 15.6646L16.1708 16.3354L16.3478 15.9814L15.0062 15.3106ZM18.4872 13.9871C17.1592 13.4559 15.6458 14.0313 15.0062 15.3106L16.3478 15.9814C16.6386 15.3999 17.3265 15.1384 17.9301 15.3798L18.4872 13.9871ZM9.18943 9.49381C10.4687 8.85419 11.0441 7.34076 10.5129 6.01281L9.12018 6.5699C9.36163 7.17351 9.10008 7.86143 8.51861 8.15217L9.18943 9.49381ZM7.14593 3.75C7.65706 3.75 8.1167 4.06119 8.30653 4.53576L9.69925 3.97868C9.28162 2.93462 8.27042 2.25 7.14593 2.25V3.75ZM22.25 17.3541C22.25 16.2296 21.5654 15.2184 20.5213 14.8008L19.9642 16.1935C20.4388 16.3833 20.75 16.8429 20.75 17.3541H22.25ZM19.5 20.25C11.0777 20.25 4.25 13.4223 4.25 5H2.75C2.75 14.2508 10.2492 21.75 19.5 21.75V20.25ZM19.5 21.75C21.0188 21.75 22.25 20.5188 22.25 19H20.75C20.75 19.6904 20.1904 20.25 19.5 20.25V21.75ZM4.25 5C4.25 4.30964 4.80964 3.75 5.5 3.75V2.25C3.98122 2.25 2.75 3.48122 2.75 5H4.25ZM18.25 11C18.25 10.3762 18.1271 9.75855 17.8884 9.18225L16.5026 9.75628C16.6659 10.1506 16.75 10.5732 16.75 11H18.25ZM17.8884 9.18225C17.6497 8.60596 17.2998 8.08232 16.8588 7.64124L15.7981 8.7019C16.0999 9.00369 16.3393 9.36197 16.5026 9.75628L17.8884 9.18225ZM16.8588 7.64124C16.4177 7.20016 15.894 6.85028 15.3177 6.61157L14.7437 7.99739C15.138 8.16072 15.4963 8.40011 15.7981 8.7019L16.8588 7.64124ZM15.3177 6.61157C14.7415 6.37286 14.1238 6.25 13.5 6.25V7.75C13.9268 7.75 14.3494 7.83406 14.7437 7.99739L15.3177 6.61157ZM22.25 11C22.25 9.85093 22.0237 8.71312 21.5839 7.65152L20.1981 8.22554C20.5625 9.10516 20.75 10.0479 20.75 11H22.25ZM21.5839 7.65152C21.1442 6.58992 20.4997 5.62533 19.6872 4.81282L18.6265 5.87348C19.2997 6.5467 19.8338 7.34593 20.1981 8.22554L21.5839 7.65152ZM19.6872 4.81282C18.8747 4.0003 17.9101 3.35578 16.8485 2.91605L16.2745 4.30187C17.1541 4.66622 17.9533 5.20025 18.6265 5.87348L19.6872 4.81282ZM16.8485 2.91605C15.7869 2.47633 14.6491 2.25 13.5 2.25V3.75C14.4521 3.75 15.3948 3.93753 16.2745 4.30187L16.8485 2.91605Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span class="flex flex-row-reverse items-centere font-Pelak_Regular text-sm gap-x-1 mt-[25.5px]" dir="ltr">
                aminahmadi070807@gmail.com
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="2.5"
                    y="3"
                    width="20"
                    height="18"
                    rx="4"
                    stroke="white"
                    stroke-width="1.5"
                  />
                  <path
                    d="M2.5 7L10.0012 13.001C11.4621 14.1697 13.5379 14.1697 14.9988 13.001L22.5 7"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <form action="" method="post" class="flex flex-col gap-y-3 w-[350px] md:max-w-[453px] md:w-auto">
          <div class="flex items-center gap-x-3 *:bg-transparent-1/35 *:py-4 *:px-3.5 *:rounded-lg">
              <label class="w-full border border-Neutral-400">
                  <input type="text" class="placeholder:text-white placeholder:text-sm font-Pelak_Regular outline-none " placeholder="نام"/>
              </label>
              <label class="w-full border border-Neutral-400">
                  <input type="text" class="placeholder:text-white placeholder:text-sm font-Pelak_Regular outline-none" placeholder="عنوان پیام"/>
              </label>
          </div>
          <div class="flex flex-col items-center justify-center gap-y-3 *:px-3.5 *:rounded-lg *:py-4 *:border *:border-Neutral-400 *:outline-none">
              <label class="w-full bg-transparent-1/35">
                  <input type="email" placeholder="ایمیل" class="w-full placeholder:text-white placeholder:text-sm outline-none font-Pelak_Regular"/>
              </label>
              <label class="w-full bg-transparent-1/35">
                  <textarea placeholder="اینجا بنویسید..." class="font-Pelak_Regular w-full resize-none text-xs p-3.5 placeholder:text-Neutral-400 outline-none max-h-25 min-h-25" rows="4" wrap="hard"></textarea>
              </label>
              <button type="submit" role="button" class="flex items-center justify-center text-white border-none outline-none font-Pelak_Medium text-base w-full h-12 cursor-pointer bg-blue-700">ارسال</button>
          </div>
        </form>
      </section>
    </main>

    <%- include('./partials/status.mudal.ejs') %>

    <%- include('./partials/footer.ejs') %>

    <script type="text/javascript" src="/scripts/faq/FAQ.js"></script>
    <script type="text/javascript" src="/scripts/navbar/music/navbar.js"></script>
  </body>
</html>
