<!DOCTYPE html>
<html lang="fa" dir="rtl" class="overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="icon" href="/logo/icon.png">
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <title>Register page ritmo</title>
  </head>
  <body class="register-body bg-background w-screen h-screen overflow-hidden">
    <svg class="hidden">
      <!-- arrow-left-mini -->
      <symbol
        id="arrow-left-mini"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-5"
      >
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd"
        />
      </symbol>

      <!-- logo -->
      <symbol
        id="logo"
        viewBox="0 0 66 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M20.5514 8.83002C18.2204 12.3023 17.4266 16.5349 17.4266 19.4105H14.8311C14.8311 16.1348 15.715 11.3316 18.4175 7.30587C21.1675 3.20934 25.7541 0.000244141 32.9069 0.000244141C40.0593 0.000244141 44.6596 3.20867 47.4285 7.30193C50.1504 11.3256 51.0591 16.1275 51.0755 19.4036L48.48 19.4175C48.4656 16.5422 47.6501 12.3082 45.2999 8.83396C42.9968 5.42924 39.1771 2.67753 32.9069 2.67753C26.6372 2.67753 22.8348 5.42857 20.5514 8.83002Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1.29795 11.4739C2.01468 11.4739 2.5957 12.0732 2.5957 12.8125L2.5957 38.8204C2.5957 39.5597 2.01468 40.159 1.29795 40.159C0.581217 40.159 0.00019121 39.5597 0.000191178 38.8204L0.000190076 12.8125C0.000190045 12.0732 0.581215 11.4739 1.29795 11.4739Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M33.0001 11.4739C33.7168 11.4739 34.2979 12.0732 34.2979 12.8125L34.2979 38.8204C34.2979 39.5597 33.7168 40.159 33.0001 40.159C32.2834 40.159 31.7023 39.5597 31.7023 38.8204L31.7023 12.8125C31.7023 12.0732 32.2834 11.4739 33.0001 11.4739Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M64.7022 11.4739C65.419 11.4739 66 12.0732 66 12.8125L66 38.8204C66 39.5597 65.419 40.159 64.7022 40.159C63.9855 40.159 63.4045 39.5597 63.4045 38.8204L63.4045 12.8125C63.4045 12.0732 63.9855 11.4739 64.7022 11.4739Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.11728 16.8289C6.83401 16.8289 7.41504 17.4282 7.41504 18.1675L7.41504 34.9961C7.41504 35.7354 6.83401 36.3348 6.11728 36.3348C5.40055 36.3348 4.81953 35.7354 4.81953 34.9961L4.81953 18.1675C4.81953 17.4282 5.40055 16.8289 6.11728 16.8289Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M27.0675 15.491C27.7842 15.491 28.3652 16.0903 28.3652 16.8296L28.3652 33.6582C28.3652 34.3975 27.7842 34.9969 27.0675 34.9969C26.3507 34.9969 25.7697 34.3975 25.7697 33.6582L25.7697 16.8296C25.7697 16.0903 26.3507 15.491 27.0675 15.491Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M38.7472 15.491C39.4639 15.491 40.0449 16.0903 40.0449 16.8296L40.0449 33.6582C40.0449 34.3975 39.4639 34.9969 38.7472 34.9969C38.0304 34.9969 37.4494 34.3975 37.4494 33.6582L37.4494 16.8296C37.4494 16.0903 38.0304 15.491 38.7472 15.491Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M59.8819 15.491C60.5987 15.491 61.1797 16.0903 61.1797 16.8296L61.1797 33.6582C61.1797 34.3975 60.5987 34.9969 59.8819 34.9969C59.1652 34.9969 58.5842 34.3975 58.5842 33.6582L58.5842 16.8296C58.5842 16.0903 59.1652 15.491 59.8819 15.491Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.9376 19.8889C11.6543 19.8889 12.2354 20.4882 12.2354 21.2276L12.2354 30.4068C12.2354 31.1461 11.6543 31.7454 10.9376 31.7454C10.2209 31.7454 9.63984 31.1461 9.63984 30.4068L9.63984 21.2276C9.63984 20.4882 10.2209 19.8889 10.9376 19.8889Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.6905 19.8889C22.4073 19.8889 22.9883 20.4882 22.9883 21.2276L22.9883 30.4068C22.9883 31.1461 22.4073 31.7454 21.6905 31.7454C20.9738 31.7454 20.3928 31.1461 20.3928 30.4068L20.3928 21.2276C20.3928 20.4882 20.9738 19.8889 21.6905 19.8889Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M44.1231 19.8889C44.8399 19.8889 45.4209 20.4882 45.4209 21.2276L45.4209 30.4068C45.4209 31.1461 44.8399 31.7454 44.1231 31.7454C43.4064 31.7454 42.8254 31.1461 42.8254 30.4068L42.8254 21.2276C42.8254 20.4882 43.4064 19.8889 44.1231 19.8889Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M55.0616 19.8889C55.7783 19.8889 56.3594 20.4882 56.3594 21.2276L56.3594 30.4068C56.3594 31.1461 55.7784 31.7454 55.0616 31.7454C54.3449 31.7454 53.7639 31.1461 53.7639 30.4068L53.7639 21.2276C53.7639 20.4882 54.3449 19.8889 55.0616 19.8889Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.129 22.1829C16.8457 22.1829 17.4268 22.7822 17.4268 23.5215L17.4268 28.1111C17.4268 28.8504 16.8457 29.4498 16.129 29.4498C15.4123 29.4498 14.8312 28.8504 14.8312 28.1111L14.8312 23.5215C14.8312 22.7822 15.4123 22.1829 16.129 22.1829Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M49.6847 22.1829C50.4014 22.1829 50.9824 22.7822 50.9824 23.5215L50.9824 28.1111C50.9824 28.8504 50.4014 29.4498 49.6847 29.4498C48.9679 29.4498 48.3869 28.8504 48.3869 28.1111L48.3869 23.5215C48.3869 22.7822 48.9679 22.1829 49.6847 22.1829Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.473 42.0435C16.5851 38.7901 15.1094 34.8228 15.1094 32.032H17.7049C17.7049 34.022 18.8432 37.3694 21.3873 40.2355C23.8857 43.0501 27.675 45.3228 32.9072 45.3228C38.1568 45.3228 41.9452 43.1311 44.4339 40.3712C46.9634 37.5662 48.1095 34.2235 48.1095 32.032H50.705C50.705 35.0038 49.237 38.9758 46.3344 42.1947C43.3911 45.4587 38.9295 48.0001 32.9072 48.0001C26.8674 48.0001 22.4067 45.3484 19.473 42.0435Z"
          fill="currentColor"
        />
      </symbol>

      <!-- mail -->
      <symbol
        id="mail"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
        />
      </symbol>

      <!-- eye -->
      <symbol
        id="eye"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </symbol>

      <!-- eye-slash -->
      <symbol
        id="eye-slash"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
        />
      </symbol>

      <!-- facebook -->
      <symbol
        id="facebook"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-facebook"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
        />
      </symbol>

      <!-- apple -->
      <symbol
        id="apple"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-apple"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"
        />
        <path
          d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"
        />
      </symbol>

      <!-- google -->
      <symbol
        id="google"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-google"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
        />
      </symbol>

      <!-- user -->
      <symbol id="user" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="2.25" cy="2.25" r="2.25" transform="matrix(1 0 0 -1 6.75 9.5)" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
        <path d="M14.2492 16.9057C15.5435 16.573 16.5 15.3982 16.5 14V5C16.5 3.34315 15.1569 2 13.5 2H4.5C2.84315 2 1.5 3.34315 1.5 5V14C1.5 15.3982 2.45649 16.573 3.75083 16.9057M14.2492 16.9057C14.0097 16.9673 13.7587 17 13.5 17H4.5C4.24132 17 3.99029 16.9673 3.75083 16.9057M14.2492 16.9057C14.1989 14.0497 11.868 11.75 9 11.75C6.132 11.75 3.80113 14.0497 3.75083 16.9057" stroke="currentColor" stroke-width="1.5"/>
      </symbol>
        
      
    </svg>

    <div class="relative flex items-center justify-center h-screen select-none">

      <div class="form-cotainer absolute transform mx-auto w-[370px] sm:w-[504px] h-auto bg-menu rounded-[40px] overflow-hidden">
        <div class="flex flex-col items-center text-white z-50 py-5 sm:p-10">
          <div class="relative flex">
            <div class="flex flex-col items-center justify-center w-[281px]">
              <svg class="w-25 h-[70px] hidden lg:block">
                <use href="#logo"></use>
              </svg>
              <h3 class="font-Pelak_Bold text-2xl mt-4" id="form-title">
                به ریتمو خوش آمدید
              </h3>
              <h5
                class="font-Pelak_Regular text-base/[150%] sm:text-lg/[32px] mt-2 text-center"
                id="form-subtitle"
              >
                لطفا ایمیل خود را وارد کنید.
              </h5>
            </div>
            <!-- add class flex for show icon -->
            <div
              id="back"
              class="absolute hidden cursor-pointer items-center justify-center left-[-5rem] top-[-1rem] size-8 border rounded-sm"
            >
              <svg class="size-5"><use href="#arrow-left-mini"></use></svg>
            </div>
          </div>

          <div id="form-container" class="size-full">
            <form id="form" class="mt-10 md:mt-15 select-none w-full">
              <div
                id="buttons"
                class="flex items-center justify-between w-[350px] sm:w-full *:w-[175px] *:sm:w-full mx-auto text-center *:h-12 rounded-lg border border-white overflow-hidden"
              >
                <a
                  href="/auth/login"
                  class="no-active flex items-center justify-center transition-colors duration-100 cursor-pointer"
                  id="login"
                >
                  ورود
                </a>
                <a
                  href="register.ejs"
                  class="active flex items-center justify-center transition-colors duration-100 cursor-pointer"
                  id="register"
                >
                  ثبت نام
                </a>
              </div>
              <!-- email -->
              <div id="email-container" class="relative mt-8 border border-Neutral-300 text-Neutral-100 rounded-lg mx-auto w-[350px] sm:w-full bg-transparent focus:bg-transparent">
                <label for="email-input" class="absolute right-5 -top-[25%] h-5 text-Neutral-300 bg-menu rounded-2xl px-3 text-sm">ایمیل</label>
                <div class="flex items-center flex-row-reverse">
                  <input type="email" id="email-input" class="font-Pelak_Regular text-sm w-[90%] h-12 me-auto outline-0 border-0 focus:bg-transparent" placeholder="info@gmail.com"/>
                  <svg class="size-[18px] mx-auto text-Neutral-300"><use href="#mail"></use></svg>
                </div>
              </div>
              <!-- fullName -->
              <div id="password-container" class="relative mt-8 border border-Neutral-300 text-Neutral-100 rounded-lg mx-auto w-[350px] sm:w-full">
                <label for="fullName-input" class="absolute right-5 -top-[25%] h-5 text-Neutral-300 bg-menu px-3 text-sm">نام و نام خانوادگی</label>
                <div class="flex items-center">
                  <input type="text" id="fullName-input" class="font-Pelak_Regular text-sm w-[90%] h-12 me-auto outline-0 border-0 px-3.5" placeholder="امین احمدی"/>
                </div>
              </div>

              <!-- buttons -->
              <button id="form-btn" type="button" class="form-btn">ثبت نام</button>
            </form>

            <div id="navbar" class="relative h-px w-full bg-white mt-[33px]">
              <span
                class="absolute right-[37%] -top-3.5 h-5 text-Neutral-300 bg-menu px-3"
                >ورود از طریق</span
              >
            </div>

            <div
              id="login-via-icons"
              class="flex items-center justify-center gap-x-4 mt-7 *:cursor-pointer"
            >
              <svg class="size-8"><use href="#google"></use></svg>
              <svg class="size-8"><use href="#apple"></use></svg>
              <svg class="size-8"><use href="#facebook"></use></svg>
            </div>
          </div>

          <!-- add class flex  -->
          <div
            id="input-code-container"
            dir="ltr"
            class="hidden flex-col mt-15 select-none w-full justify-center"
          >
            <div class="flex items-center gap-x-4 justify-center">
              <div>
                <input
                  id="input_1"
                  type="text"
                  class="code-input border-Neutral-700"
                  maxlength="1"
                />
              </div>

              <div>
                <input
                  id="input_2"
                  type="text"
                  class="code-input border-Neutral-700"
                  maxlength="1"
                />
              </div>

              <div>
                <input
                  id="input_3"
                  type="text"
                  class="code-input border-Neutral-700"
                  maxlength="1"
                />
              </div>

              <div>
                <input
                  id="input_4"
                  type="text"
                  class="code-input border-Neutral-700"
                  maxlength="1"
                />
              </div>

              <div>
                <input
                  id="input_5"
                  type="text"
                  class="code-input border-Neutral-700"
                  maxlength="1"
                />
              </div>
            </div>

            <div class="flex justify-between w-full mt-4">
              <a
                href="#"
                class="flex items-center gap-x-2 font-Pelak_Regular text-xs text-Neutral-500"
              >
                <span id="counter-number" class="text-Neutral-100"> 120 </span>
                دریافت دوباره
              </a>
              <a href="#" class="font-Pelak_Regular text-xs text-Neutral-100"
                >کد رو دریافت نکردید؟</a
              >
            </div>

            <button
              type="button"
              id="register-btn"
              class="flex items-center justify-center bg-Neutral-800 mt-8 cursor-not-allowed w-full h-12 rounded-lg"
              disabled
            >
              تایید
            </button>
          </div>
        </div>
      </div>

      <div
        id="login-password"
        class="absolute top-4 right-4 rounded-2xl flex items-center justify-center w-100 h-25 text-white bg-transparent-2 transform translate-x-125 transition-all duration-150 font-Pelak_Medium text-2xl"
      ></div>
    </div>

    <script src="../js/register.js"></script>
  </body>
</html>
