<footer class="flex flex-col justify-center bg-background-footer mt-[94px] pt-10 w-full lg:ps-22">
    <div class="flex flex-col items-start lg:flex-row lg:items-center justify-between container mx-auto max-w-[1440px] text-white pb-8 h-auto px-5">
        <div>
            <div>
                <div>
                    <svg class="w-[175px] h-[68px]">
                        <use href="#logo-type"></use>
                    </svg>
                    <div class="flex mt-8 items-center gap-x-[26px]">
                        <a href="#">
                            <svg class="size-5">
                                <use href="#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="size-5">
                                <use href="#twitter-x"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="size-5">
                                <use href="#tik-tok"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="size-5">
                                <use href="#instagram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap lg:flex-row gap-y-10 mt-15 items-start justify-start gap-x-20 md:justify-between w-full lg:ms-10 xl:ms-15 2xl:ms-[137px]">
            <div>
                <h3 class="font-Pelak_Bold text-base">ریتمو</h3>
                <ul class="flex flex-col items-start gap-y-6 mt-6">
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">قوانین و مقررات</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">پریمیوم</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">موقیعت شغلی</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="font-Pelak_Bold text-base">شبکه های اجتماعی</h3>
                <ul class="flex flex-col items-start gap-y-6 mt-6">
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">اینستاگرام</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">یوتیوب</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">ایکس</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">تیک تاک</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="font-Pelak_Bold text-base">دانلود</h3>
                <ul class="flex flex-col items-start gap-y-6 mt-6">
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">دانلود برای مک</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">دانلود برای ویندوز</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">دانلود برای IOS</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">دانلود برای اندروید</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="font-Pelak_Bold text-base">پشتیبانی</h3>
                <ul class="flex flex-col items-start gap-y-6 mt-6">
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">پشتیبانی</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">تبلیغات</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">تماس با ما</a>
                    </li>
                    <li>
                        <a href="#" class="font-Pelak_Medium text-[15px]/[150%] text-Neutral-200">سوالات متدوال</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <span class="font-Pelak_Regular text-xs sm:text-sm block w-full border-t-2 border-t-Neutral-600 pt-4 pb-6 text-Neutral-200 text-center">
        &copy; تمامی حقوق متعلق به ریتمو می‌باشد. <span class="font-Pelak_Regular text-sm"> طراحی توسط امین احمدی</span>
      </span>
</footer>