<div class="fixed top-0 right-0 bottom-0 my-auto z-50">
    <div id="header" class="flex flex-col fixed top-0 right-0 z-50 transform translate-x-64 lg:translate-x-0 transition-all duration-300 w-64 bg-menu overflow-y-scroll h-screen pb-5">

        <!-- main -->
        <div class="mt-5 pe-5 text-white">
            <ul id="music-list-mobile" class="flex gap-y-2 flex-col font-FA_Pelak_Medium">
                <li class="flex items-center text-sm h-14 <%= active && active === 'channel' ? 'setting-button-active' : 'setting-button-no-active' %>"><a href="/settings/channel" class="px-6">اکانت من</a></li>
                <div class="w-full h-0.5 bg-Neutral-800"></div>
                <li class="flex items-center text-sm h-14 setting-button-no-active">
                    <a href="/" class="px-6">خانه</a>
                </li>
                <li class="flex items-center text-sm h-14 setting-button-no-active">
                    <a href="/music/create" class="px-6">ساخت آهنگ</a>
                </li>
                <li class="flex items-center text-sm h-14 setting-button-no-active">
                    <a href="/album/create" class="px-6">ساخت آلبوم</a>
                </li>
                <li class="flex items-center text-sm h-14 setting-button-no-active">
                    <a href="/playlist/create" class="px-6">ساخت پلی لیست</a>
                </li>
                <div class="w-full h-0.5 bg-Neutral-800"></div>
                <li class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">پشتیبانی</a></li>
                <li class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">قوانین و مقررات</a></li>
                <li class="flex items-center text-sm h-14 <%= active && active === 'FAQ' ? 'setting-button-active' : 'setting-button-no-active' %>"><a href="/FAQ" class="px-6">سوالات متداول</a></li>
                <li class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">امنیت</a></li>
                <div class="w-full h-0.5 bg-Neutral-800"></div>
                <li class="flex items-center text-sm h-14 setting-button-no-active"><a href="/api/v1/users/logout" class="px-6">خروج از اکانت</a></li>
            </ul>
        </div>
        <!-- footer -->
        <div class="flex items-center justify-evenly px-10 pt-5 gap-x-5 mt-auto text-white">
            <a href="#"><svg class="size-5"><use href="#facebook"></use></svg></a>
            <a href="#"><svg class="size-5"><use href="#X"></use></svg></a>
            <a href="#"><svg class="size-5"><use href="#tiktok"></use></svg></a>
            <a href="https://www.instagram.com/aminahmadi070807/"><svg class="size-5"><use href="#instagram"></use></svg></a>
        </div>
    </div>

    <!-- close bar -->
    <div id="close-header" class="absolute top-0 bottom-0 transform translate-y-[50%] -right-[28px] flex items-center justify-end my-auto p-3 size-14 bg-menu rounded-full lg:hidden transition-all duration-300">
        <svg id="close-header-svg" class="transform rotate-180 size-4 stroke-1 transition-transform duration-1000"><use href="#chevron-right"></use></svg>
    </div>
</div>