<div class="fixed top-0 right-0 bottom-0 my-auto z-50">
    <div id="header" class="flex flex-col fixed top-0 right-0 z-50 transform translate-x-64 lg:translate-x-0 transition-all duration-300 w-64 bg-menu overflow-y-scroll h-screen pb-5">

        <!-- main -->
        <div class="mt-5 pe-5">
            <ul id="music-list-mobile" class="flex gap-y-2 flex-col">
                <li id="My-Account" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/settings/channel" class="px-6">اکانت من</a></li>
                <div class="w-full h-0.5 bg-Neutral-800"></div>
                <li id="App-Appearance" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">ظاهر اپلیکیشن</a></li>
                <li id="Sidebar-And-Playlist" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">سایدبار</a></li>
                <li id="Streaming-And-Quality" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">پخش</a></li>
                <li id="Memory" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">حافظه و تاریخچه</a></li>
                <div class="w-full h-0.5 bg-Neutral-800"></div>
                <li id="" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">پشتیبانی</a></li>
                <li id="" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">قوانین و مقررات</a></li>
                <li id="" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">امنیت</a></li>
                <div class="w-full h-0.5 bg-Neutral-800"></div>
                <li id="" class="flex items-center text-sm h-14 setting-button-no-active"><a href="/" class="px-6">خروج از اکانت</a></li>
            </ul>
        </div>
        <!-- footer -->
        <div class="flex items-center justify-evenly px-10 pt-5 gap-x-5 mt-auto">
            <a href="#"><svg class="size-5"><use href="#facebook"></use></svg></a>
            <a href="#"><svg class="size-5"><use href="#X"></use></svg></a>
            <a href="#"><svg class="size-5"><use href="#tiktok"></use></svg></a>
            <a href="#"><svg class="size-5"><use href="#instagram"></use></svg></a>
        </div>
    </div>


    <!-- close bar -->
    <div id="close-header" class="absolute top-0 bottom-0 transform translate-y-[50%] -right-[28px] flex items-center justify-end my-auto p-3 size-14 bg-menu rounded-full lg:hidden transition-all duration-300">
        <svg id="close-header-svg" class="transform rotate-180 size-4 stroke-1 transition-transform duration-1000"><use href="#chevron-right"></use></svg>
    </div>


</div>