<section id="audio-player" class="fixed bottom-0 right-0 left-0 h-[130px] transition-all duration-300 transform z-40 max-w-[1688px] mx-auto">
    <!-- audio player -->
    <div class="w-full flex items-center justify-between mx-auto h-full bg-transparent-1 lg:ps-30 px-4 md:px-8 lg:pe-8 z-40 transform">
        <div id="music-information-container" class="flex gap-x-2 lg:w-52">
            <img id="music-box" src="../../../image/Music Vide File/1.png" class="size-20 md:size-14 object-cover rounded-md" alt="اگه میموندی"/>
            <div id="music-information" class="hidden sm:block">
                <h3 id="music-title" class="font-Pelak_Bold text-xl mb-2 text-nowrap">اگه میموندی</h3>
                <cite id="music-subtitle" class="font-Pelak_Medium text-Neutral-300 text-nowrap">اشوان</cite>
            </div>
        </div>

        <div class="flex flex-col items-center gap-y-2">
            <div class="flex items-center gap-x-4.5 *:cursor-pointer">
                <span id="loop-music">
                    <svg class="w-5 h-6 text-Neutral-300" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.80052 11.5V10.0714C1.80052 6.91552 4.24788 4.35714 7.26684 4.35714H18.1995M16.8329 1.5L18.5997 3.34699C19.1334 3.90488 19.1334 4.8094 18.5997 5.3673L16.8329 7.21429M18.1995 11.5V12.9286C18.1995 16.0845 15.7521 18.6429 12.7332 18.6429H1.80052M3.1671 21.5L1.40026 19.653C0.86658 19.0951 0.86658 18.1906 1.40026 17.6327L3.1671 15.7857" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </span>

                <span id="next-music">
                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.6667 5.38881L5.01032 1.50594C3.23257 0.468923 1 1.75125 1 3.80936V13.1905C1 15.2486 3.23257 16.5309 5.01032 15.4939L11.6667 11.611M11.6667 5.38881V3.80936C11.6667 1.75125 13.8992 0.468923 15.677 1.50594L23.718 6.19651C25.482 7.22552 25.482 9.77433 23.718 10.8033L15.677 15.4939C13.8992 16.5309 11.6667 15.2486 11.6667 13.1905V11.611M11.6667 5.38881V11.611" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </span>

                <span id="player" class="cursor-pointer">
                    <svg class="size-10">
                      <use id="play-icon" href="#play-music"></use>
                    </svg>
                </span>

                <span id="prev-music">
                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.3724 13.3888L24.0287 9.50594C25.8065 8.46892 28.0391 9.75125 28.0391 11.8094V21.1905C28.0391 23.2486 25.8065 24.5309 24.0287 23.4939L17.3724 19.611M17.3724 13.3888V11.8094C17.3724 9.75125 15.1398 8.46892 13.3621 9.50594L5.3211 14.1965C3.55709 15.2255 3.55708 17.7743 5.3211 18.8033L13.3621 23.4939C15.1398 24.5309 17.3724 23.2486 17.3724 21.1905V19.611M17.3724 13.3888V19.611" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </span>

                <span id="random-music">
                    <svg class="size-6 text-Neutral-300">
                      <use href="#shuffle"></use>
                    </svg>
                </span>
            </div>

            <!-- range container -->
            <div class="flex items-center gap-x-4">
                <!-- music total time -->
                <time id="time-total-music" datetime="00:00:00" class="font-FA_Pelak_Medium text-Neutral-200 w-10 text-center">00:00</time>

                <!-- range bar -->
                <div id="range-player-container" class="w-full flex items-center justify-end min-w-40 sm:min-w-60 lg:min-w-100 bg-Neutral-300 h-1 rounded-sm cursor-pointer">
                    <div id="range-player" class="relative flex items-center justify-start h-full bg-Primary-500 cursor-pointer transition-all">
                        <div class="absolute top-0 bottom-0 -right-3 my-auto size-3 rounded-full bg-Primary-500"></div>
                    </div>
                </div>

                <!-- music played time-->
                <time id="time-music-start" datetime="00:01:44" class="font-FA_Pelak_Medium text-Neutral-200 w-10 text-center">00:00</time>
            </div>
        </div>

        <div class="flex-col items-end gap-y-4 mt-4 hidden md:flex">
            <div class="flex items-center gap-x-4.5 text-Neutral-300">
              <span id="player-heart">
                <svg class="size-5.5 fill-red-500">
                  <use href="#heart"></use>
                </svg>
              </span>
                <a id="download-icon" href="../../../mp4/Arman Garshasbi - Benshin Tamashayat Konam (320).mp3" download>
                    <svg class="size-5.5"><use href="#download-01"></use></svg>
                </a>
                <span>
                    <svg class="size-5.5"><use href="#share"></use></svg>
                </span>
                <span>
                    <svg class="size-5.5"><use href="#menu-queue"></use></svg>
                </span>
                <span>
                    <svg class="size-5.5"><use href="#maximize-02"></use></svg>
                </span>
            </div>

            <div class="flex items-center gap-x-3">
                <div id="volume-range-container" class="w-full flex items-center justify-end min-w-25 lg:min-w-[146px] h-1 bg-Neutral-300 rounded-lg cursor-pointer">
                    <div id="volume-range" class="relative flex items-center justify-start h-full w-full bg-Primary-500 cursor-pointer transition-all">
                        <div class="absolute top-0 bottom-0 -right-3 my-auto size-3 rounded-full bg-Primary-500"></div>
                    </div>
                </div>
                <span>
                <svg class="size-7" id="volume-icon">
                  <use href="#volume-high"></use>
                </svg>
              </span>
            </div>
        </div>

        <audio id="audio-play" src=""></audio>
    </div>

    <!-- close player -->
    <div id="close-player" class="absolute flex items-start p-2.5 cursor-pointer justify-center -z-10 left-5 ms-auto -top-7 size-15 bg-transparent-1 rounded-full">
        <svg class="transform transition-all duration-300 size-4"><use href="#chevron-down"></use></svg>
    </div>
</section>