<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <link rel="stylesheet" href="/styles/swiper.css" />
      <link rel="stylesheet" href="/styles/tailwind.css" />
      <link rel="icon" href="/logo/icon.png">
      <title>Ritmo music</title>
  </head>
  <body class="w-screen overflow-x-hidden text-white select-none max-w-[1688px] mx-auto">
    <%- include('../partials/svg.ejs') %>

    <%- include('../partials/header.music.ejs') %>

    <main class="main-site px-5 lg:px-8 h-auto lg:mt-40 mt-24 ms-auto max-w-[1600px]" >
      <!-- trending sung -->
      <section class="h-auto">
        <!-- head -->
        <div class="flex items-center justify-between w-full mb-8">
          <h3 class="font-Pelak_Bold text-base md:text-xl">آهنگ‌های ترند</h3>
          <div class="flex items-center justify-between w-16 sm:w-20">
            <span class="prev-trending-sung flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full">
              <svg class="size-6"><use href="#chevron-right"></use></svg>
            </span>
            <span class="next-trending-sung flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full">
              <svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg>
            </span>
          </div>
        </div>
        <!-- body -->
        <div class="swiper trending-sung-swiper">
          <div id="trending-sung-container" class="swiper-wrapper **:rounded-3xl">
            <!-- <div class="swiper-slide">
              <div class="w-88 h-104 max-w-88 max-h-104">
                <div class="group relative w-88 h-92">
                  <img
                    src="../image/TRENDING SUNG/2.png"
                    class="w-88 h-92 min-w-88 min-h-92 object-cover"
                    alt="TRENDING SUNG"
                  />
                  <div
                    class="absolute left-0 right-0 bottom-0 invisible opacity-0 group-hover:visible group-hover:opacity-100 transition-all duration-300 flex items-center justify-center w-full h-full border-b-4 border-b-Primary-500" style="background: linear-gradient(360deg,#ed265e56, transparent);"
                  >
                    <div
                      class="flex items-center justify-center size-14 border-2 rounded-full cursor-pointer"
                      style="border-radius: 50%"
                    >
                      <svg class="size-8"><use href="#play"></use></svg>
                    </div>
                  </div>
                </div>

                <div class="flex items-center justify-between mt-4 px-4">
                  <h3 class="font-Pelak_Bold text-xl">اشوان</h3>
                  <div class="flex items-center justify-center gap-x-3">
                    <svg class="size-8 text-neutral-500">
                      <use href="#heart"></use>
                    </svg>
                    <svg class="size-8 text-neutral-500">
                      <use href="#add-circle"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>

      <!-- Last heard -->
      <section id="last-heard" class="mt-14">
        <!-- head -->
        <h3 class="font-Pelak_Bold text-base md:text-xl">آخرین شنیده‌ها</h3>
        <!-- body -->
        <div class="flex flex-col gap-x-5 mt-10">
          <div id="lest-heard-music-container" class="grid grid-cols-1 2xl:grid-cols-2 gap-x-10">
            <!-- <div id="lest-heard-music" class="flex items-center w-full h-20 justify-between border-b-2 border-b-Neutral-800 py-2 px-6 md:px-8">
              <div class="flex gap-x-4 min-w-50 md:min-w-100 items-center">
                <data value="1" class="font-FA_Pelak_Regular text-xl">1</data>
                <img
                  src="../image/PLAYLIST/1.png"
                  class="size-16 max-w-16 min-w-16 max-h-16 min-h-16 rounded-lg object-cover"
                  alt="${playlist.title}"
                />
                <div class="h-14 w-50">
                  <h4 class="font-Pelak_Bold text-sm sm:text-base md:text-lg">
                    دیوونه
                  </h4>
                  <cite
                    class="font-Pelak_Regular text-base text-Neutral-300 mt-1"
                    >رضا بهرام</cite
                  >
                </div>
              </div>

              <div class="hidden md:flex gap-x-4 items-center">
                <a href="#">
                  <svg class="size-6 text-Neutral-300">
                    <use href="#heart"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="size-6 text-Neutral-300">
                    <use href="#download-01"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="size-6 text-Neutral-300">
                    <use href="#add-circle"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="size-6 text-Neutral-300">
                    <use href="#menu-queue"></use>
                  </svg>
                </a>
              </div>

              <div class="hidden md:block">
                <div class="ps-10">
                  <time datetime="00:01:41" class="font-Pelak_Medium text-base"
                    >۰۱:۴۱</time
                  >
                </div>
              </div>

              <div
                id="playlist-menu"
                class="absolute hidden opacity-0 transition-all duration-300 left-25 size-50 min-w-50 min-h-50 bg-transparent-2 rounded-lg md:hidden ms-auto mt-25"
              >
                <div
                  class="flex flex-col gap-y-4 justify-center items-between p-5 text-white"
                >
                  <a
                    href="#"
                    class="flex items-center gap-x-3 font-Pelak_Regular text-sm"
                  >
                    <svg class="size-6">
                      <use href="#heart"></use>
                    </svg>
                    علاقه مندی ها
                  </a>
                  <a
                    href="#"
                    class="flex items-center gap-x-3 font-Pelak_Regular text-sm"
                  >
                    <svg class="size-6">
                      <use href="#download-01"></use>
                    </svg>
                    دانلود
                  </a>
                  <a
                    href="#"
                    class="flex items-center gap-x-3 font-Pelak_Regular text-sm"
                  >
                    <svg class="size-6">
                      <use href="#add-circle"></use>
                    </svg>
                    افزودن به لیست
                  </a>
                  <a
                    href="#"
                    class="flex items-center gap-x-3 font-Pelak_Regular text-sm"
                  >
                    <svg class="size-6">
                      <use href="#menu-queue"></use>
                    </svg>
                    افزودن به پلی لیست
                  </a>
                </div>
              </div>

              <div class="flex items-center justify-center md:hidden">
                <svg
                  onclick="toggleIconsMenu(event)"
                  class="size-7 transform rotate-90"
                >
                  <use href="#three-pin"></use>
                </svg>
              </div>
            </div> -->
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mb-10 gap-x-5 items-center w-full">
            <div class="flex items-center w-full justify-between px-4 bg-menu h-16 rounded-xl mt-4">
              <div class="flex gap-x-2 items-center">
                <span class="text-Neutral-300 text-sm">مورد علاقه‌ها: </span>
                <data id="number-of-user-like-song" value="0" class="font-FA_Pelak_Bold text-lg">0</data>
              </div>
              <div>
                <svg class="size-8 text-Neutral-200">
                  <use href="#heart"></use>
                </svg>
              </div>
            </div>

            <div class="flex items-center w-full justify-between px-4 bg-menu h-16 rounded-xl mt-4">
              <div class="flex gap-x-2 items-center">
                <span class="text-Neutral-300 text-sm">دانلودها:</span>
                <data id="number-of-download-music" value="0" class="font-FA_Pelak_Bold text-lg">0</data>
              </div>
              <div>
                <svg class="size-8 text-Neutral-200">
                  <use href="#download-01"></use>
                </svg>
              </div>
            </div>

            <div class="flex items-center w-full justify-between px-4 bg-menu h-16 rounded-xl mt-4">
              <div class="flex gap-x-2 items-center">
                <span class="text-Neutral-300 text-sm">پلی لیست‌ها:</span>
                <data value="0" class="font-FA_Pelak_Bold text-lg">0</data>
              </div>
              <div>
                <svg class="size-8 text-Neutral-200">
                  <use href="#playlist"></use>
                </svg>
              </div>
            </div>

            <div
              class="flex items-center w-full justify-between px-4 bg-menu h-16 rounded-xl mt-4"
            >
              <div class="flex gap-x-2 items-center">
                <span class="text-Neutral-300 text-sm">استریم‌ها:</span>
                <data value="0" class="font-FA_Pelak_Bold text-lg">0</data>
              </div>
              <div>
                <svg class="size-8 text-Neutral-200">
                  <use href="#music"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Album -->
      <section class="mt-14">
        <!-- head -->
        <div class="flex items-center justify-between w-full mb-8">
          <h3 class="font-Pelak_Bold text-base md:text-xl">آلبوم‌ها</h3>
          <div class="flex items-center gap-x-6">
            <div class="flex items-center justify-between w-16 sm:w-20">
              <span class="prev-album border border-gray-500 rounded-full flex items-center justify-center cursor-pointer size-5 sm:size-8">
                <svg class="size-6"><use href="#chevron-right"></use></svg>
              </span>
              <span class="next-album border border-gray-500 rounded-full flex items-center justify-center cursor-pointer size-5 sm:size-8">
                <svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg>
              </span>
            </div>

            <a href="/albums" class="font-Pelak_Medium text-xs text-Neutral-300">مشاهده‌ی همه</a>
          </div>
        </div>
        <!-- body -->
        <div class="swiper album-swiper">
          <div id="album-container" class="swiper-wrapper">
            <!-- <div class="swiper-slide">
              <div class="w-50 h-[276px]">
                <img src="../image/ALBUM/1.png" alt="Album song" />
                <h3 class="font-Pelak_Bold text-center mt-2">یلدا</h3>
                <cite
                  class="font-Pelak_Regular not-italic text-center mt-2 text-sm text-Neutral-300 block"
                  >سینا شعبانخانی</cite
                >
              </div>
            </div> -->
          </div>
        </div>
      </section>

      <!-- Playlist -->
      <section class="mt-14">
        <!-- head -->
        <div class="flex items-center justify-between w-full mb-8">
          <h3 class="font-Pelak_Bold text-base md:text-xl">پلی لیست‌ها</h3>
          <div class="flex items-center gap-x-6">
            <div class="flex items-center justify-between w-16 sm:w-20">
              <span class="prev-playlist border border-gray-500 rounded-full flex items-center justify-center cursor-pointer size-5 sm:size-8">
                <svg class="size-6"><use href="#chevron-right"></use></svg>
              </span>
              <span class="next-playlist border border-gray-500 rounded-full flex items-center justify-center cursor-pointer size-5 sm:size-8">
                <svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg>
              </span>
            </div>

            <a href="/playlist" class="font-Pelak_Medium text-xs text-Neutral-300">مشاهده‌ی همه</a>
          </div>
        </div>
        <!-- body -->
        <div class="swiper playlist-swiper">
          <div id="playlist-container" class="swiper-wrapper">
            <!-- <div class="swiper-slide">
              <div class="w-51 max-w-51">
                <img
                  src="../image/PLAYLIST/1.png"
                  class="size-51 max-w-51 min-w-51 min-h-51 max-h-51"
                  alt="playlist"
                />
                <div class="flex items-center justify-between my-4 px-2">
                  <h4 class="font-Pelak_Bold text-base">تولد</h4>
                  <div class="flex items-center gap-x-3 text-Neutral-300">
                    <svg class="size-6"><use href="#heart"></use></svg>
                    <svg class="size-6"><use href="#add-circle"></use></svg>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>

      <!-- Categories -->
      <section class="mt-14">
        <!-- head -->
        <div class="flex items-center justify-between w-full mb-8">
          <h3 class="font-Pelak_Bold text-base md:text-xl">دسته بندی‌ها</h3>
          <div class="flex items-center gap-x-6">
            <div class="flex items-center justify-between w-16 sm:w-20">
              <span class="prev-Category flex items-center justify-center border-gray-500 rounded-full border cursor-pointer size-5 sm:size-8">
                <svg class="size-6"><use href="#chevron-right"></use></svg>
              </span>
              <span class="next-Category flex items-center justify-center border-gray-500 rounded-full border cursor-pointer size-5 sm:size-8">
                <svg class="size-6 transform rotate-180">
                  <use href="#chevron-right"></use>
                </svg>
              </span>
            </div>

            <a href="/categories" class="font-Pelak_Medium text-xs text-Neutral-300">مشاهده‌ی همه</a>
          </div>
        </div>
        <!-- body -->
        <div class="swiper Category-swiper">
          <div id="category-container" class="swiper-wrapper">
            <!-- <div class="swiper-slide">
              <div class="relative w-[275px] h-50">
                <img src="../image/Categories/1.png"class="w-[275px] h-50 min-w-[275px] max-w-[275px] min-h-50 max-h-50"alt="Categories" />
                <div class="absolute inset-0 m-auto h-10 w-20">
                  <h4 class="font-Pelak_Bold text-2xl">رپ</h4>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
    </main>

    <section id="music-player-box" class="relative hidden h-full">
        <div class="fixed top-17 left-0 lg:top-27 border border-Neutral-800 bg-Neutral-900 lg:w-92 h-screen w-screen p-5 lg:h-auto rounded-2xl z-50">
            <div class="relative w-full h-75 rounded-2xl">
                <img id="music-box" class="w-full h-full object-cover object-top rounded-2xl" src="" alt="profile" />
                <div class="absolute flex-center top-5 left-5 cursor-pointer border size-10 rounded-full bg-Neutral-900 border-Neutral-500">
                    <svg class="size-6 text-white"><use href="#x-mark"></use></svg>
                </div>
            </div>
            <div class="flex items-center gap-x-8 mx-auto justify-center mt-5 *:cursor-pointer">
                <span id="loop-music">
                <svg class="w-5 h-6 text-Neutral-300" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.80052 11.5V10.0714C1.80052 6.91552 4.24788 4.35714 7.26684 4.35714H18.1995M16.8329 1.5L18.5997 3.34699C19.1334 3.90488 19.1334 4.8094 18.5997 5.3673L16.8329 7.21429M18.1995 11.5V12.9286C18.1995 16.0845 15.7521 18.6429 12.7332 18.6429H1.80052M3.1671 21.5L1.40026 19.653C0.86658 19.0951 0.86658 18.1906 1.40026 17.6327L3.1671 15.7857" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                </svg>
              </span>

                <span id="next-music">
                <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.6667 5.38881L5.01032 1.50594C3.23257 0.468923 1 1.75125 1 3.80936V13.1905C1 15.2486 3.23257 16.5309 5.01032 15.4939L11.6667 11.611M11.6667 5.38881V3.80936C11.6667 1.75125 13.8992 0.468923 15.677 1.50594L23.718 6.19651C25.482 7.22552 25.482 9.77433 23.718 10.8033L15.677 15.4939C13.8992 16.5309 11.6667 15.2486 11.6667 13.1905V11.611M11.6667 5.38881V11.611" stroke="white" stroke-width="1.5" stroke-linejoin="round"></path>
                </svg>
              </span>

              <span id="player" class="flex-center cursor-pointer size-13 bg-Primary-500 rounded-xl">
                <svg class="size-10"><use id="play-icon" href="#play-music"></use></svg>
              </span>

                <span id="prev-music">
                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.3724 13.3888L24.0287 9.50594C25.8065 8.46892 28.0391 9.75125 28.0391 11.8094V21.1905C28.0391 23.2486 25.8065 24.5309 24.0287 23.4939L17.3724 19.611M17.3724 13.3888V11.8094C17.3724 9.75125 15.1398 8.46892 13.3621 9.50594L5.3211 14.1965C3.55709 15.2255 3.55708 17.7743 5.3211 18.8033L13.3621 23.4939C15.1398 24.5309 17.3724 23.2486 17.3724 21.1905V19.611M17.3724 13.3888V19.611" stroke="white" stroke-width="1.5" stroke-linejoin="round"></path></svg>
              </span>

                <span id="random-music">
                <svg class="size-6 text-Neutral-300">
                  <use href="#shuffle"></use>
                </svg>
              </span>
            </div>
            <div class="flex items-center justify-center gap-x-4 mt-5">
                <!-- music total time -->
                <time id="time-total-music" datetime="3:37" class="font-FA_Pelak_Medium text-Neutral-200 w-10 text-center">00:00</time>

                <!-- range bar -->
                <div id="range-player-container" class="w-full flex items-center justify-end bg-Neutral-300 h-1 rounded-sm cursor-pointer">
                    <div id="range-player" class="relative flex items-center justify-start h-full bg-Primary-500 cursor-pointer transition-all" style="width: 0;">
                        <div class="absolute top-0 bottom-0 -right-3 my-auto size-3 rounded-full bg-Primary-500"></div>
                    </div>
                </div>

                <!-- music played time-->
                <time id="time-music-start" datetime="" class="font-FA_Pelak_Medium text-Neutral-200 w-10 text-center">00:00</time>
            </div>
        </div>

        <audio id="audio-play" src=""></audio>
    </section>

    <%- include('../partials/status.mudal.ejs') %>

    <%- include('../partials/footer.ejs') %>

    <script type="text/javascript" src="/scripts/navbar/music/navbar.js"></script>
    <script type="text/javascript" src="/scripts/swiper/swiper.js"></script>
    <script type="text/javascript" src="/scripts/swiper/slider.js"></script>
    <script type="text/javascript" src="/scripts/player/onePlayer.js"></script>
    <script type="text/javascript" src="/scripts/music/app.js"></script>
  </body>
</html>
