<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" href="/styles/tailwind.css" />
      <link rel="icon" href="/logo/icon.png">
    <title>Ritmo Like songs</title>
  </head>

  <body class="w-screen overflow-x-hidden text-white select-none max-w-[1688px] mx-auto">

  <%- include('../partials/svg.ejs') %>

  <%- include('../partials/header.music.ejs') %>

    <main class="main-site px-5 lg:px-8 lg:mt-40 mt-24 ms-auto h-screen max-w-[1600px]">
      <div id="is-not-like" class="flex flex-col items-center justify-center size-full max-w-150 mx-auto">
        <svg class="w-[185px] h-50"><use href="#microphone-likeSong"></use></svg>
        <div class="flex flex-col justify-center mt-10 md:mt-20">
          <h3 class="font-Pelak_Bold text-base sm:text-2xl">هنوز محتوایی به علاقه‌مندی‌هات اضافه نکردی!</h3>
          <div class="flex items-center gap-x-5 mt-8 mx-auto">
            <a href="/" role="button" class="flex items-center justify-center font-Pelak_Medium text-base h-12 min-h-12 w-[157px] text-center border rounded-lg max-w-[157px] max-h-12 text-nowrap">بازگشت</a>
            <a href="/" role="button" class="flex items-center justify-center font-Pelak_Medium text-base h-12 min-h-12 w-[157px] text-center bg-Primary-500 rounded-lg max-w-[157px] max-h-12 text-nowrap">صفحه اصلی</a>
          </div>
        </div>
      </div>

      <div id="like-song-container" class="hidden">
        <!-- head -->
        <h3 class="text-xl font-Pelak_Bold">پسندیده شده ها</h3>
        <!-- body -->
        <div id="download" class="mt-16"></div>
      </div>
    </main>


  <%- include('../partials/footer.ejs') %>

  <script src="/scripts/navbar/music/navbar.js"></script>
<!--    <script type="module" src="/scripts/likeSong/likeSong.js"></script>-->
  </body>
</html>
