<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <link rel="icon" href="/logo/icon.png">
    <title>Ritmo music</title>
</head>
<body>

<%- include('../partials/svg.ejs') %>

<%- include('../partials/header.music.ejs') %>

<%- include('../partials/footer.ejs') %>

<script src="/scripts/navbar/music/navbar.js"></script>

</body>
</html>