<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="stylesheet" href="/styles/swiper.css" />
      <link rel="stylesheet" href="/styles/tailwind.css" />
      <link rel="icon" href="/logo/icon.png">
    <title>Ritmo Playlists</title>
  </head>

  <body class="overflow-x-hidden text-white select-none transition-all w-screen mx-auto max-w-[1688px]">

  <%- include('../partials/svg.ejs') %>

  <%- include('../partials/header.music.ejs') %>

    <main class="main-site px-5 lg:px-8 lg:mt-40 mt-24 ms-auto h-auto max-w-[1600px] z-10">
        <!-- trending playlists -->
        <section class="mt-16">
            <!-- head -->
            <div class="flex items-center gap-x-4 justify-between mb-8">
                <h3 class="font-Pelak_Bold text-lg">پلی لیست های ترند</h3>
                <div class="flex items-center gap-x-4">
                    <span class="prev-trending-album flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full">
                        <svg class="size-6" ><use href="#chevron-right"></use></svg>
                    </span>
                    <span class="next-trending-album  flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full">
                        <svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg>
                    </span>

                </div>
            </div>
            <!-- body -->
            <div class="swiper trending-album-swiper">
                <div id="trending-playlist-container" class="swiper-wrapper"></div>
            </div>
        </section>

        <!-- latest playlists -->
        <section class="mt-16">
            <!-- head -->
            <div class="flex items-center gap-x-4 justify-between mb-8">
                <h3 class="font-Pelak_Bold text-lg">اخیرا منتشر شده</h3>
                <div class="flex items-center gap-x-4">
                    <span class="next-Recently-Published-Album flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full">
                        <svg class="size-6" ><use href="#chevron-right"></use></svg>
                    </span>
                    <span class="next-Recently-Published-Album flex items-center justify-center cursor-pointer size-5 sm:size-8 border border-gray-500 rounded-full">
                        <svg class="size-6 transform rotate-180"><use href="#chevron-right"></use></svg>
                    </span>
                </div>
            </div>
            <!-- body -->
            <div class="swiper new-album-swiper">
                <div id="latest-playlist-container" class="swiper-wrapper"></div>
            </div>
        </section>

      <!-- all playlist -->
      <section class="mt-18">
        <!-- head -->
        <div class="flex items-center gap-x-2.5 justify-between mb-8">
          <h3 class="font-Pelak_Bold text-md md:text-lg text-nowrap">تمامی پلی لیست ها</h3>
          <div class="flex items-center gap-x-3 sm:gap-x-4.5 md:gap-x-6">
            <div class="flex gap-x-1 sm:gap-x-2 px-2 sm:px-4 py-2.5 cursor-pointer items-center bg-Neutral-900 border border-Neutral-100 rounded-lg">
              <cite class="font-Pelak_Medium text-xs md:text-base not-italic">محبـوب‌‌ترین</cite>
              <svg class="size-5"><use href="#chevron-down"></use></svg>
            </div>
          </div>
        </div>
        <!-- body -->
        <div id="all-playlist" class="flex flex-wrap items-center justify-center gap-x-4 gap-y-6"></div>

        <div id="add-video-music-all" class="items-center justify-center size-10 border border-Neutral-200 rounded-full mt-19 mx-auto cursor-pointer hidden md:flex">
          <svg class="transform transition-transform dura30 size-5"><use href="#chevron-double-down"></use></svg>
        </div>
      </section>
    </main>

  <%- include('../partials/footer.ejs') %>

  <script src="/scripts/navbar/music/navbar.js"></script>
  <script src="/scripts/swiper/swiper.js"></script>
  <script src="/scripts/swiper/slider.js"></script>
    <script type="module" src="/scripts/playlist/playlist.js"></script>
  </body>
</html>
