<!DOCTYPE html>
<html lang="fa" dir="rtl" class="bg-background w-screen overflow-x-hidden">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <link rel="stylesheet" href="/styles/swiper.css" />
      <link rel="stylesheet" href="/styles/tailwind.css" />
      <link rel="icon" href="/logo/icon.png">
      <title>Ritmo Search || <%= search %></title>
  </head>
  <body class="w-screen overflow-x-hidden text-white select-none max-w-[1688px] mx-auto">
    <%- include('../partials/svg.ejs') %>

    <%- include('../partials/header.music.ejs') %>

    <main class="main-site px-5 lg:px-8 h-auto lg:mt-40 mt-24 ms-auto max-w-[1600px]" >
        <section id="album-playlist" class="mt-10">

        </section>
    </main>

    <%- include('../partials/music.app.player.ejs') %>

    <script type="text/javascript" src="/scripts/navbar/music/navbar.js"></script>
    <script type="text/javascript" src="/scripts/player/onePlayer.js"></script>
  </body>
</html>
